body {
font-family: arial;
background: white;
padding: 0;
margin: 0;
}
img {
	max-width: 100%;
}
.container {
    position: relative;
    background: white;
    margin: 0 auto;

}
.header {
	
	    }
	    .header .logo {
	    width: 100px;
    margin-left: 100px;
}
.header .logo a {
}

.header .logo a img {
}
.header nav {
float: right;
}

.header nav ul {
	list-style: none;
	float: right;

}

.header nav ul li {
	float: left;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 5px 20px;
}

.header nav ul li a:hover {
	line-height: 1;
    display: inline-block;
    color:#ffeb3b;
    text-decoration:none;
    cursor: pointer;
}

.slideshow {
	position: relative;
	margin-bottom: 20px;
}

.slideshow ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slideshow ul li {
	display: none;

}

.slideshow ul li .text {
	    position: absolute;
    padding: 200px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
}
.slideshow ul li .text h2 {
	font-size: 70px;
    margin-bottom: px;
    margin-top: auto;
    margin-bottom: 0;
}

.slideshow ul li .text p {
	    font-size: 20px;
    line-height: 1.5;
}
.slideshow ul li .text a {
	    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
}
.slideshow ul li .text p a
{    color: crimson;
    text-decoration: none;}
.slideshow ul li .text p a:hover{
	text-decoration: underline;
}
	.slideshow ul li img {

}
.slideshow ul li.active{
	display: block!important;
}
.slideshow .dots {
	    position: absolute;
 
    bottom: 20px;
    left: 45%;
}

.slideshow .dots i {
    width: 5px;
    height: 5px;
    background: white;
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
}
.slideshow .dots i.active{
	    width: 5px;
    height: 5px;
}

